/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "myriad-pro",sans-serif;
    font-size: 1.6em;
    font-weight: normal;

}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

 .img-responsive {
    display: inline;
}


h1,
h2,
h3,
h4 {
    font-family: "bebas-neue",sans-serif;
    font-style: normal;
 /*   color: rgb(255,255,255);*/
    letter-spacing: 5px;
 
}

h2 {
    font-size: 2.75em;
    padding: 35px;
}

h4 {
    font-size: 1.25em;
}

h5 {
    color: #fff;
}
/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


footer {
    margin: 60px 0 0 0;
    padding: 20px 0;
    background-color: rgb(77,78,73);
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */
.navbar {
    background-color: #2A2A2A;
    margin-bottom: -20px;
}

.navbar-default {
    border-color: #2A2A2A;
}

.header-logo {
    padding: .75em;
    height: 70px;
}

#header {
    display: table;
    position: relative;
    width: 100%;
    height: 30%;
    padding: 75px 0 50px 0;
    background: url(../img/data-center-1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-box-shadow: inset 0px 1px 11px 1x rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 11px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 11px 1px rgba(0,0,0,0.5);
}

.header-success {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: red;
    background: url(../img/data-center-1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-box-shadow: inset 0px 1px 11px 1x rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 11px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 11px 1px rgba(0,0,0,0.5);
}


.header-success h3 {
    color: #fff;
    margin: 5% auto;
    max-width: 960px;
    line-height: 1.3;
}


#header h3 {
    font-size: 2.25em;
    color: rgb(255,255,255);

}

.header p {
    color: rgb(255,255,255);
    font-size: 1.5em;
    padding-top: 25px;
    margin: 25px 30px;
}

section h4 {
    padding: 25px 0;
    margin: 0;
}

/* About */


.lead {
    color: white;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.rules-list dt,
.rules-list dd {
    padding-left: 50px;
}

.rules-lst dt {
    position: relative;
    font: bold 16px Georgia;
    padding: 4px 0 10px 0;
}

dt {
    display: block;
}

.faq dt:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 0;
    font: bold 50px/1;
}

/* ----- RSVP Date ----- */

.rsvp-date li {
    font-size: 1.25em;
 
}






/* ----- Charity ----- */

.charity p {
    padding: 20px 25px;
}





/* ----- Registration Form ----- */




.register form h2 {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px dotted #bbb;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.register form input {
    width: 100%;
    background: #555555;
    margin: 0px 0;
    padding: 0px 20px;
    border: 0px solid #FFFFFF;
    border-radius: 5px;
    height: 55px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 16px;
}

.register form input:-moz-placeholder { color: #aaa; }
.register form input:-ms-input-placeholder { color: #aaa; }
.register form input::-webkit-input-placeholder { color: #aaa; }

.register form input:focus {
    border: 1px solid #10a0fb;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.register form label {
    margin: 7px 0 10px 5px;
    font-size: 1em;
    text-align: left;

}

.register form label span {
    font-style: italic;
}


.register form button {
    cursor: pointer;
    width: 65%;
    height: 42px;
    padding: 0;
    margin: 15px 50px;
    background: #eb4141;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    text-align: center;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.register form button:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form button:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}

.share-buttons {
    margin-bottom: 25px;
    padding-bottom: 15px;
}



ol {
  color: #ccc;
  list-style-type: none;
}
 
ol li {
  position: relative;
  font: bold 50px/1.5 Helvetica, Verdana, sans-serif;
  line-height:30px;
  padding-bottom: 25px;
}
 
li p {
  font-size: 18px;
  padding-left: 40px;
  padding-top: 5px;
  color: #555;
}
 
span {
  position: absolute;
}


/*---------------Social Share Buttons------------------------------*/

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff 
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}

.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}



/*section-dark*/

.section-dark {
    background-color: #2A2A2A;
}

@media(max-width:768px) {

.header p {
 
    margin: 25px 125px;
}

.register {
    padding-top: 25px;
}



    }
}

/* Footer */

footer {
    padding: 100px 0;
    background-color: rgb(167,170,172);
}